/* --------\*
Font Family
\*---------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ----------\*
Common Styles
\*-----------*/

body{
    margin: 0;
    padding: 0;
}

/* -------\*
Header Part 
\*--------*/

header{
    height: 677px;
    background-color: #2D25A0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-title, .banner{
    width: 50%;
}
.header-title{
    padding-left: 156px;
}
.header-title, h1{
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
}
.watch-button{
    width: 168px;
    height: 44px;
    line-height: 24px;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 500;
    background: #E02C6D;
}

/*---------***---------\*
Animation on Button Start
\*---------***---------*/

.watch-button:hover{
    width: 180px;
    height: 60px;
    font-size: 25px;
    background-color: #ff005d;
    border: 2px solid black;
    color: black;
    transform: translate(30px, 10px) skew(-5deg);
    transition: width 3s, height 2s, transform 1s ease-out 0.1s;
}
/*---------***---------\*
Animation on Button End
\*---------***---------*/

.banner img{
    padding-right: 118px;
    /* !!! check again */
    width: 556.01px;
    height: 438px;
}

/* ---------------\*
Div :: all-players
\*---------------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 70px; */
}
.all-players, article{
    width: 1050px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: space-between;
}
.player{
    width: 330px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player  img{
    margin: 15px;
}
.player-info{
    width: 300px;
    height: 154px;   
    margin: 0 15px;
}
.player-info h2{

    position: static;
    width: 300px;
    left: calc(50% - 300px/2);
    top: 0%;
    bottom: 74.03%;

    margin: 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}
.player-info p{

    position: static;
    left: calc(50% - 300px/2);
    top: 32.47%;
    bottom: 0%; 
    width: 300px;

    margin: 0;
    color: #6C6C6C;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
/* --------------------------\*
Article :: Highlights Section
\*---------------------------*/

article{
    display: flex;
}
.highlights{
    width: 50%;
    
}
aside{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.highlights h2{
    margin: 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
}
.highlights p{
    width: 404px;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;

}
.highlights img{
    width: 567px;
    height: 427px;
}

/* ---------\*
Footer Styles
\*----------*/

footer{
    width: 483.87px;
    padding-top: 20px;
    margin: auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}
footer img{
    margin-top: 30px;
    padding: 0;
    width: 483.87px;
    height: 110px;
}
a{
    text-decoration: none;
}
.fab{
    color: #969BAB;
    font-size: 32px;
    align-self: center;
    margin: 0 14px;
}
footer h5{
    margin-top: 10px;
    padding: 0;
    font-size: 18px;
}